[Unit]
Description=A Caddy proxy container to access OCI registry quadlets
After=local-fs.target network-online.target

[Container]
Image=caddy.image
ContainerName=caddy-proxy
Network=oci.network
PublishPort=10080:80
PublishPort=10443:443
Volume=/etc/caddy/:/etc/caddy/:ro,Z
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
