[Unit]
Description=OCI proxy for quay.io
After=network-online.target

[Container]
Image=distribution.image
ContainerName=oci-proxy-quay
Network=oci.network
Volume=oci-proxy-quay.volume:/var/lib/registry
Volume=/etc/registry/config/oci-proxy-quay.yml:/etc/distribution/config.yml:ro,Z
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
