[Unit]
Description=OCI proxy for docker.io
After=network-online.target

[Container]
Image=distribution.image
ContainerName=oci-proxy-dockerhub
Network=oci.network
Volume=oci-proxy-dockerhub.volume:/var/lib/registry
Volume=/etc/registry/config/oci-proxy-dockerhub.yml:/etc/distribution/config.yml:ro,Z
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
