name: Build ISO

on:
  pull_request:
    paths:
      - 'iso.toml'
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  build-iso:
    runs-on: 'ubuntu-24.04'
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Build ISO
        id: build-iso
        uses: bootc-warehouse/bootc-image-builder-action@019bb59c5100ecec4e78c9e94e18a840110f7a0b # v0.0.2
        with:
          config-file: ./iso.toml
          image: ghcr.io/${{ github.repository_owner }}/bootc/qemu/oci-registry:stream10
          types: anaconda-iso
          additional-args: --use-librepo=True

      - name: Upload ISO
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: iso
          path: ${{ steps.build-iso.outputs.anaconda-iso-output-path }}
          if-no-files-found: error
