name: Pre-Commit CI

on:
  pull_request:
    paths:
      - .pre-commit-config.yml
      - .github/workflows/pre-commit.yml
  push:
    branches:
      - main
    paths:
      - .pre-commit-config.yml
      - .github/workflows/pre-commit.yml

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Run pre-commit
        uses: rsturla-homelab/actions/run-pre-commit@main
